* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff3e5;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: rgb(39, 39, 39);
  color: white;
}
footer > h1 {

}

footer > p {
  
}

div.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("../public/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
    color: white;
    padding: 45px 23px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p.name {
  font-weight: 900;
  font-size: 100px;
  margin-top: 13%;
  margin-bottom: 0px;
}

p.role {
  font-family: "Times New Roman";
  font-size: 25px;
}

div.home-logo {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 250px;
}

.github-logo,
.linkedin-logo,
.email-logo {
  height: 50px;
  width: 50x;
  filter: invert(1);
}